@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	background-color: #A5FBAB;
	padding-top: 80px;
}

/* Logo 

#logo {
	font-size: 3em;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
*/

/* Navigation */

.navbar {
	background-color: transparent;
	border-bottom: none;
	li {
		font-size: 1.2em;
		text-transform: uppercase;
	}
}

/* Bag view */

