@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 80px;
}

.btn-unpacked {
	background: url("images/button_unpacked.png");
	height: 35px;
	width: 35px; 
}

.btn-packed {
	background: url("images/button_packed.png");	
}