<% if user_signed_in? %>
    <h1>
        Welcome <%= current_user.email %>
    </h1>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to Bag it!</h1>
	  <h2>Bag it! helps you to pack your bags.</h2>
	  <p>You are not signed in.</p>
	  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
	  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>